<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body style="background-color:#ffe1d2;" class="container">

<h1 th:text="${title}"></h1>
    <form method="post" style="max-width: 450px" th:object="${loginUser}">
        <div class="form-group">
            <label th:for="username">Username</label>
            <input class="form-control" th:field="*{username}"/>
            <span th:errors="*{username}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input class="form-control" th:field="*{password}" type="password"/>
            <span th:errors="*{password}" class="error"></span>
        </div>
        <div>
            <input class="form-control"  type="submit" value="Login"/>
        </div>
    </form>
</body>
</html>